# Virtual environment
venv/
env/
.venv/

# Environment variables
.env

# SQLite database
db.sqlite3

# Python cache
__pycache__/
*.py[cod]
*$py.class

# Django
*.log
staticfiles/
media/

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db
